@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background: linear-gradient(to right, #00AAFF, #00FF6C); */
  background-color: #95a5a6;
  background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");
  font-family: 'Poppins', sans-serif;
}
